.div1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-left: 200px;

}
.div3{
    width: 200px;
    height: 200px;
    background-color: green;
}

h1{
    position: relative;
    padding-left: 40px;

}

    `


